@model IEnumerable<BookStore.Data.Models.ModelsDTO.Category>

@foreach (var item in Model)
{
    <ul class="ml-5">
        @if (item != null)
        {
            <li class="subcategory-table-li">
                <div class="row">
                    <div class="col category-table-item">
                        @item.CategoryName
                    </div>
                    <div class="col category-icon">
                        <i class="@item.IconPath"></i>
                    </div>
                    <div class="col category-edit-group">
                        <a class="btn edit-btn" asp-area="Admin" asp-controller="Category"
                            asp-action="CreateUpdateCategory" asp-route-id="@item.Id">Edit</a>
                        <a class="btn delete-btn" asp-area="Admin" asp-controller="Category"
                            asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
                @if (item.SubCategory.Count > 0)
                {
                    <partial name="_SubCategoryPartial" model="@item.SubCategory" />
                }
            </li>
        }
    </ul>
}

@*<tr>
    <td colspan="3">
        <table class="nested-table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CategoryName
                    </td>
                    <td>
                        @item.IconPath
                    </td>
                    <td class="category-edit-group">
                        <a class="btn edit-categoty" asp-area="Admin" asp-controller="Category"
                       asp-action="CreateUpdateCategory" asp-route-id="@item.Id">Edit</a>
                        <a class="btn delete-category" asp-area="Admin" asp-controller="Category"
                       asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                <partial name="_SubCategoryPartial" model="@item.SubCategory" />
            }
        </table>
    </td>
</tr>*@
