@model IEnumerable<BookStore.DataAccess.Models.Category>

@foreach (var item in Model)
{
    <ul class="ml-5">
        @if (item != null)
        {
            <li class="subcategory-table-li">
                <div class="row">
                    <div class="col category-table-item">
                        @item.CategoryName
                    </div>
                    <div class="col category-icon">
                        <i class="@item.IconPath"></i>
                    </div>
                    <div class="col category-edit-group">
                        <a class="btn edit-btn" asp-controller="Category"
                            asp-action="EditCategory" asp-route-id="@item.EncryptedId">Edit</a>
                        <a class="btn delete-btn" asp-controller="Category"
                            asp-action="DeleteCategory" asp-route-id="@item.EncryptedId">Delete</a>
                    </div>
                </div>
                @if (item.SubCategory.Count > 0)
                {
                    <partial name="_SubCategoryPartial" model="@item.SubCategory" />
                }
            </li>
        }
    </ul>
}
