@model BookViewModel

@{
    ViewData["Title"] = "Delete Book";
    var photoPath = $"/pictures/uploads/books/{Model.PhotoPath}";
}

<div class="container">
    <div class="product-card">
        <div class="card-header text-center">
            <h5>Do you want to delete this Book?</h5>
        </div>
        <form asp-action="DeleteBook" asp-controller="Book" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.Timestamp" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="card-body">
                <div class="row w-75 mx-auto">
                    <div class="col-md text-center">
                        <img src="@photoPath" class="img-fluid image-preview" alt="..." asp-append-version="true">
                    </div>
                    <div class="col-md ">
                        <p class="book-deteils-title">@Model.Title.ToUpper()</p>

                        <div class="row">
                            <div class="col-md">
                                <p class="book-deteils-item">Author: <a class="book-deteils-link" asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@Model.AuthorId">@Model.AuthorFullName </a></p>
                                <p class="book-deteils-item">Publisher:<a href="#" class="book-deteils-link"> @Model.PublisherName</a></p>
                                <p class="book-deteils-item">Year Of Issue: <span>@Model.YearOfIssue</span></p>
                                <p class="book-deteils-item">ISBN: <span>@Model.ISBN</span></p>

                            </div>
                            <div class="col-md">
                                <p class="book-deteils-item">Genre: <span>@Model.Genre</span></p>
                                <p class="book-deteils-item">Pages: <span>@Model.NumberOfPage</span></p>
                                <p class="book-deteils-item">Cover type: <span>@Model.CoverType</span></p>
                            </div>
                        </div>
                        <hr />
                        <p class="book-deteils-item text-center">Annotation</p>
                        <p class="book-deteils-annotation">@Model.Annotation</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Delete" class="btn alrt-btn" />
                <a class="btn return-btn" asp-controller="Book" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
