@model BookStore.Data.Models.ViewModels.BookVM

@{
    var photoPath = $"/pictures/uploads/books/{Model.Id}/thumbs/{Model.PhotoPath ?? "noimage.png"}";
 }

<div class="col card-wrapper">
    <div class="card">
        <img src="@photoPath" class="card-img-top imageThumbnail" alt="" asp-append-version="true">

        <div class="card-body">
            <div>
                <a class="card-title" href="#">@Model.Title</a><br />
            </div>
            <div>
                <a class="card-author " href="#">@Model.AuthorFullName</a>
            </div>
            <div class="rating-box">
                <div class="rating-value">@Model.RateValue</div>
                <div class="rating-count">@Model.RateCount</div>
            </div>

            <div class="availiable-quantaty">In stock @Model.AvaliableQuantaty item(s)</div>

            <div class="prices-box">
                <div class="price-item-base d-inline">300 $</div>
                <div class="price-item-main d-inline">@Model.Price $</div>
            </div>

            <div class="add-to-cart-btn">ADD TO CART</div>
        </div>
    </div>
</div>