@using BookStore.Services.ShopService
@using BookStore.Services.ShopService.SortingService
@model BookStore.Data.Models.ViewModels.AuthorVM

@{
    ViewData["Title"] = "Author Details";
    var photoPath = $"/pictures/uploads/authors/{Model.Id}/{Model.PhotoPath ?? "noimage.png"}";
    SortModel sortModel = (SortModel)ViewData["SortModel"];
    NavigationService navigationService = (NavigationService)ViewData["NavigationService"];
    int bookCount = navigationService.PagedBooks.Count;
}

<div class="container-fluid d-block">
    <div class="row author-wrapper">
        <div class="col-md text-center">
            <img src="@photoPath" class="img-fluid" alt="..." asp-append-version="true">
        </div>
        <div class="col-md">
            <p class="book-deteils-title text-left">@Model.FullName</p>
            <p class="book-deteils-item">@Model.Biography</p>              
        </div>           
    </div>

    <div class="row justify-content-center">
    <div class="row d-block w-75">
        <div class="sort-table-wrapper ml-1">
            <partial name="_SortingBarPartial" model="@sortModel" />
        </div>

        <div class="row  ml-1">
            @for (int i = 0; i < bookCount; i++)
            {
                    <partial name="_DisplayBooksPartial" model="navigationService.PagedBooks[i]" />
                if (i < bookCount - 1)
                {
                    <div class="vl"></div>
                }
            }
        </div>

        <div class="row ml-1 justify-content-lg-between justify-content-center">
            <partial name="_PageBarPartial" model="@navigationService.PaginationModel" />
        </div>
    </div>
    </div>
</div>