@using BookStore.Data.Models.ViewModels;
@model BookStore.Data.Models.ViewModels.BookVM

@{
    ViewData["Title"] = "Book Details";
    var photoPath = $"/pictures/uploads/books/{Model.Id}/{Model.PhotoPath ?? "noimage.png"}";
    ProgressBarVM progressBar = new ProgressBarVM();
}

<div class="container-fluid book-wrapper ">
    <div class="row w-75 mx-auto">
        <div class="col-md text-center">
            <img src="@photoPath" class="img-fluid" alt="..." asp-append-version="true">   
        </div>
        <div class="col-md ">
            <p class="book-deteils-title">@Model.Title.ToUpper()</p> 
             
            <div class="row">
                <div class="col-md">
                    <p class="book-deteils-item">Author: <a class="book-deteils-link" asp-action="AuthorDetails" asp-route-id="@Model.AuthorId">@Model.AuthorFullName </a></p>
                    <p class="book-deteils-item">Publisher:<a class="book-deteils-link" asp-route-id="@Model.PublisherId"> @Model.PublisherName</a></p>
                    <p class="book-deteils-item">Year Of Issue: @Model.YearOfIssue</p>
                    <p class="book-deteils-item">ISBN: @Model.ISBN</p>
                
                </div>
                <div class="col-md">                    
                    <p class="book-deteils-item">Genre: @Model.Genre</p>
                    <p class ="book-deteils-item">Pages: @Model.NumberOfPage</p>
                    <p class="book-deteils-item">Cover type: @Model.CoverType</p>
                </div>
            </div>
            <hr/>
            <p class="book-deteils-item text-center">Annotation</p>
            <p class="book-deteils-item">@Model.Annotation</p>

            <hr/>
            <div class="rating-box">
                <partial name="_RatingBarPartial" model="@Model.RateValue" />   
            </div>

            <div class="availiable-quantaty">In stock @Model.AvaliableQuantaty item(s)</div>

            <div class="prices-box">
                <div class="price-item-base d-inline">300 $</div>
                <div class="price-item-main d-inline">@Model.Price $</div>
            </div>

            <div class="add-to-cart-btn">ADD TO CART</div>
          
        </div>               
    </div>  
    <div class="row w-75 mx-auto">
        <p class="rating-header">Reviews</p>
    </div>
    <div class="row w-75 mx-auto rating-container">
        <div class="col-md text-center big-rate-box">
            <div class="big-rate-item">
                <span class="big-rate-value">@Model.RateValue</span>
                <span class="big-rate-count">/@Model.RateCount</span>
            </div>
            <div class="big-rate-item">
                <span class="big-rate-stars">
                    <partial name="_RatingBarPartial" model="@Model.RateValue" />
                </span>
            </div>
            <div class="big-rate-item">
                <div class="rating-count">@Model.RateCount reviews</div>
             </div>
        </div>
        <div class="col-md progress-box">
            @foreach (var bar in Model.ProgressBar)
            {
                <partial name="_ProgressBarPartial" model="@bar" />
            }                      
        </div>

        <div class="col-md">  
            <div class="col-md">
                <div class="star-header">Do you like this book?</div>
            </div>
            <div class="col-md">
                <form method="post" asp-action="AddBookComment" asp-controller="Shop">
                    <input type="hidden" name="bookComment.BookId" value="@Model.Id" />
                    <input type="hidden" name="bookComment.PublishedDate" value="@DateTime.Now" />
                    <div class="star-widgett">
                        <input type="radio" name="bookComment.Rating" value="5" id="rate-5" />
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="bookComment.Rating" value="4" id="rate-4" />
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="bookComment.Rating" value="3" id="rate-3" />
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="bookComment.Rating" value="2" id="rate-2" />
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="bookComment.Rating" value="1" id="rate-1" />
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                
                    <label for="publisherName">Name:</label><br>
                    <input type="text" id="publisherName" name="bookComment.PublisherName" class="publisherName"><br><br>
                    <div class="textarea">
                        <textarea cols="30" name="bookComment.Comment" placeholder="Discribe your experience..."></textarea>
                    </div>
                    <div class="rate-btn">
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>            
        </div>       
    </div>

    @foreach (var item in Model.Comments)
    {
        <partial name="_CommentPartitial" model="@item" />
    }   
</div>


@section Scripts
{
    <script src="~/scripts/bookdetailsscripts.js"></script>   
}