@using BookStore.Services.ShopService.SotrOrderingService
@model IEnumerable<BookStore.Data.Models.ViewModels.BookVM>

@{
    ViewData["Title"] = "Books";
    SortModel sortModel = (SortModel)ViewData["SortModel"];   
}

<div class="container-fluid">
    <div class="row">
        <div class="category-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" class="breadcrumb-a"><i class="fa-sharp fa-solid fa-house pr-2"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Books
                    </li>
                </ol>
            </nav>

            <div class="category-name text-lg-left">Books</div>

            <div class="categories">
                <div class="navbar-expand-md">
                    <div class="collapse navbar-collapse" id="navbarTogglerCategories">
                        <ul class="list-inline">
                            @for (var i = 0; i < 10; i++)
                            {
                                <li class="list-inline-item">
                                    <div class="subcategories-item justify-content-lg-start">
                                        <a href="#">
                                            <div> Audioknihy</div>
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="navbar-expand-md w-100">
                    <div class="" id="categories-show-btn">
                        <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerCategories" aria-controls="navbarTogglerCategories" aria-expanded="false" aria-label="Toggle navigation">
                            Categories <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerFilters" aria-controls="navbarTogglerFilters" aria-expanded="false" aria-label="Toggle navigation">
                            Filters
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid d-inline-flex">

    <div class="sidebar-filter" id="side-nav">
        <ul class="filter-item-wrapper">
            <li class="filter-item-capture justify-content-between">
                <a href="#" class="filter-link">
                    Product type
                </a>
                <input class="hidden" type="checkbox" checked="checked" id="show-productType">
                <label class="filter-capture-label" for="show-productType">Product type <i class="fa-solid fa-chevron-down"></i></label>

                <ul class="filter-subitem-wrapper">
                    <li>
                        <div>
                            <input type="checkbox" id="books" name="productFilter" value="books" />
                            <label for="books">Books</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" id="audioBooks" name="productFilter" value="audioBooks" />
                            <label for="audioBooks">Audio books</label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <hr class="a-color" />
        <ul class="filter-item-wrapper">
            <li class="filter-item-capture justify-content-between">
                <a href="#" class="filter-link">
                    Show only
                </a>
                <input class="hidden" type="checkbox" checked="checked" id="show-only">
                <label class="filter-capture-label" for="show-only"> Show only <i class="fa-solid fa-chevron-down"></i></label>

                <ul class="filter-subitem-wrapper">
                    <li>
                        <div>
                            <input type="checkbox" id="bestsellerOnly" name="onlyFilter" value="bestseller" />
                            <label for="bestsellerOnly">Bestseller</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" id="salesOnly" name="onlyFilter" value="sales" />
                            <label for="salesOnly">Sales</label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <hr class="a-color" />
        <ul class="filter-item-wrapper">
            <li class="filter-item-capture justify-content-between">
                <a href="#" class="filter-link">
                    Author
                </a>
                <input class="hidden" type="checkbox" checked="checked" id="show-author">
                <label class="filter-capture-label" for="show-author"> Author <i class="fa-solid fa-chevron-down"></i></label>

                <ul class="filter-subitem-wrapper">
                    <li>
                        <div>
                            <input type="checkbox" id="author2" name="authorFilter" value="Ben Aflek" />
                            <label for="author2">Ben Aflek</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" id="author1" name="authorFilter" value="Dorian Klow" />
                            <label for="author1">Dorian Klow</label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main-content">

       <div class="sort-table-wrapper ml-1">
            <nav class="navbar navbar-expand-lg  justify-content-end">        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="sort-item sort-item-main">
                            <a asp-action="Index" asp-route-sortExpression="">ALL</a>
                        </li>
                        <li class="sort-item">
                            <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("bestsellers").SortExpression">BESTSELLERS</a>
                        </li>
                       
                        <li class="sort-item">
                            <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("novelties").SortExpression">NOVELTIES</a>
                        </li>

                        <li class="sort-item">                            
                            <a class="" href="#">SALLES</a>
                        </li>
                    </ul>

                    </div>   
                    <div class="dropdown my-2 my-lg-0" id="sort-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SORTING
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("title").SortExpression">
                                    Title<i class="dropdown-icon @sortModel.GetColumn("title").SortIcon" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("price").SortExpression">
                                    Price <i class="dropdown-icon @sortModel.GetColumn("price").SortIcon" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("authorfullname").SortExpression">
                                    Author<i class="dropdown-icon @sortModel.GetColumn("authorfullname").SortIcon" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("rating").SortExpression">
                            Rating<i class="dropdown-icon @sortModel.GetColumn("rating").SortIcon" aria-hidden="true"></i>
                                </a>

                                <div class="dropdown-divider"></div>                                
                                <a class=" dropdown-item" asp-action="Index" asp-route-sortExpression="">All</a>
                                <a class="dropdown-item" asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("bestsellers").SortExpression">
                                    Bestsellers<i class="dropdown-icon @sortModel.GetColumn("bestsellers").SortIcon" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("novelties").SortExpression">
                                    Novelties<i class="dropdown-icon @sortModel.GetColumn("novelties").SortIcon" aria-hidden="true"></i>
                                </a>                                
                                <a class=" dropdown-item" href="#">Sales</a>
                            </div>
                    </div>
            </nav>
        </div>
          @* <div class="col-9 d-none d-lg-block navbar-expand-md bg-success">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex justify-content-end">               
                 <ul class="">
                     <li class="nav-item dropdown" id="sort-dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sorting
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             <div>
                                <i class="@sortModel.GetColumn("title").SortIcon" aria-hidden="true"></i>
                                <a asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("title").SortExpression">Title</a>
                             </div>
                             <div>
                                 <i class="@sortModel.GetColumn("price").SortIcon" aria-hidden="true"></i>
                                 <a asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("price").SortExpression">Price</a>
                             </div>
                             <div>
                                 <i class="@sortModel.GetColumn("authorfullname").SortIcon" aria-hidden="true"></i>
                                 <a asp-action="Order" asp-route-sortExpression="@sortModel.GetColumn("authorfullname").SortExpression">Author</a>
                             </div>
                         </div>
                     </li>
                 </ul>
               
            </div>*@
       

        <div class="row  ml-1">
            @foreach (var item in Model)
            {              
                <partial name="_DisplayBooksPartial" model="item" />
            }
        </div>
    </div>
</div>

