@using BookStore.Services.ShopService.SearchService
@model BookStore.Services.ShopService.SortingService.SortModel

@{
    SearchBar searchBar = (SearchBar)ViewData["SearchBar"];
}

<nav class="navbar navbar-expand-lg  justify-content-end">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="sort-item sort-item-main">
                <a asp-action="Index" asp-route-sortExpression="">ALL</a>
            </li>
            <li class="sort-item">
                <a asp-action="Index" asp-route-sortExpression="@Model.GetColumn("bestsellers").SortExpression">BESTSELLERS</a>
            </li>
            <li class="sort-item">
                <a asp-action="Index" asp-route-sortExpression="@Model.GetColumn("novelties").SortExpression">NOVELTIES</a>
            </li>
            <li class="sort-item">
                <a class="" href="#">SALLES</a>
            </li>
        </ul>
    </div>
    <div class="dropdown my-2 my-lg-0" id="sort-dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SORTING
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" asp-action="@Model.Action" asp-route-sortExpression="@Model.GetColumn("title").SortExpression" asp-route-searchtext="@searchBar.SearchText">
                Title<i class="dropdown-icon @Model.GetColumn("title").SortIcon" aria-hidden="true"></i>
            </a>
            <a class="dropdown-item" asp-action="@Model.Action" asp-route-sortExpression="@Model.GetColumn("price").SortExpression" asp-route-searchtext="@searchBar.SearchText">
                Price <i class="dropdown-icon @Model.GetColumn("price").SortIcon" aria-hidden="true"></i>
            </a>
            <a class="dropdown-item" asp-action="@Model.Action" asp-route-sortExpression="@Model.GetColumn("authorfullname").SortExpression" asp-route-searchtext="@searchBar.SearchText">
                Author<i class="dropdown-icon @Model.GetColumn("authorfullname").SortIcon" aria-hidden="true"></i>
            </a>
            <a class="dropdown-item" asp-action="@Model.Action" asp-route-sortExpression="@Model.GetColumn("rating").SortExpression" asp-route-searchtext="@searchBar.SearchText">
                Rating<i class="dropdown-icon @Model.GetColumn("rating").SortIcon" aria-hidden="true"></i>
            </a>
            <div class="dropdown-divider"></div>
            <a class=" dropdown-item" asp-action="Index" asp-route-sortExpression="">All</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortExpression="@Model.GetColumn("bestsellers").SortExpression">
                Bestsellers<i class="dropdown-icon @Model.GetColumn("bestsellers").SortIcon" aria-hidden="true"></i>
            </a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortExpression="@Model.GetColumn("novelties").SortExpression">
                Novelties<i class="dropdown-icon @Model.GetColumn("novelties").SortIcon" aria-hidden="true"></i>
            </a>
            <a class=" dropdown-item" href="#">Sales</a>
        </div>
    </div>
</nav>
