@model IEnumerable<AuthorViewModel>
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Authors";
}

<div class="container">
    <p class="text-center cat-header">Authors</p>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <p>
            <a asp-controller="Author" asp-action="CreateAuthor" class="btn add-btn" style="width:auto;">Add New Author</a>
        </p>
    }
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-msg">
            @TempData["success"]
        </div>
    }

    <ul class="category-table">
        <li class="category-table-header">
            <div class="row ">
                <div class="col category-table-item">
                    Photo
                </div>
                <div class="col category-table-item">
                    Author Name
                </div>
                <div class="col category-table-item">
                    Biography
                </div>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <div class="col category-table-item">
                    </div>
                }
            </div>
        </li>
        @foreach (var item in Model)
        {
            <li class="category-table-li">
                <div class="row">
                    <div class="col category-table-item">
                        <a asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@item.EncryptedId">
                            <img src="~/pictures/uploads/authors/@item.PhotoPath" class="author-image" alt="" asp-append-version="true">
                        </a>
                    </div>
                    <div class="col category-table-item">
                        <a class="author-index-link" asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@item.EncryptedId">
                             @item.FullName
                         </a>                        
                    </div>
                    <div class="col category-table-item">
                        @item.Biography
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="col category-edit-group">                       
                            <a class="btn edit-btn" asp-controller="Author" asp-action="EditAuthor" asp-route-id="@item.EncryptedId">Edit</a>
                            <a class="btn delete-btn" asp-controller="Author" asp-action="DeleteAuthor" asp-route-id="@item.EncryptedId">Delete</a>
                        </div>
                    }
                </div>
            </li>
        }
    </ul>
</div>

@section  Scripts
{
    <script src="~/scripts/alertmsgscript.js"></script>
}

