@model IEnumerable<PublisherViewModel>
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Publishers";
}

<div class="container">   
    <p class="text-center cat-header">Publishers</p>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <p>
            <a asp-controller="Publisher" asp-action="CreatePublisher" class="btn add-btn" style="width:auto;">Add New Publisher</a>
        </p>
    }
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-msg">
            @TempData["success"]
        </div>
    }

    <ul class="category-table">
        <li class="category-table-header">
            <div class="row ">
                <div class="col category-table-item">
                    Publisher Name
                </div>
                <div class="col category-table-item">
                    City
                </div>
                <div class="col category-table-item">
                    Phone
                </div>
                 @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                 {
                    <div class="col category-table-item">
                    </div>
                 }
            </div>           
        </li>
        @foreach (var item in Model)
        {
            <li class="category-table-li">
                <div class="row">
                    <div class="col category-table-item">
                        @item.PublisherName
                    </div>
                    <div class="col category-table-item">
                        @item.City
                    </div>
                     <div class="col category-table-item">
                        @item.Phone
                    </div>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="col category-edit-group">
                            <a class="btn edit-btn" asp-controller="Publisher"
                       asp-action="EditPublisher" asp-route-id="@item.EncryptedId">Edit</a>
                            <a class="btn delete-btn"  asp-controller="Publisher"
                       asp-action="DeletePublisher" asp-route-id="@item.EncryptedId">Delete</a>
                        </div>
                    }
                </div>              
            </li>           
        }
    </ul>
</div>

@section  Scripts
{
    <script src="~/scripts/alertmsgscript.js"></script>
}


