@using BookStore.Data.Models.ViewModels
@using BookStore.Services.ShopService
@using BookStore.Services.ShopService.SortingService
@using BookStore.Data.Models.ModelsDTO;
@using BookStore.Services.ShopService.SearchService

@model List<BookStore.Data.Models.ViewModels.BookVM>

@{
    ViewData["Title"] = "Books";   
    NavigationService navigationService = (NavigationService)ViewData["NavigationService"];
    SortModel sortModel = (SortModel)ViewData["SortModel"];
    CategoryVM categories = (CategoryVM)ViewData["Categories"];
    SearchBar searchBar = (SearchBar)ViewData["SearchBar"];
}

<div class="container-fluid">
    <div class="row">
        <div class="category-header">
            @if (categories.Category.CategoryName == null)
            {
                <div class="category-name text-lg-left">Books</div>
            }
            else
            {
                <div class="category-name text-lg-left">@categories.Category.CategoryName</div>
            }

            <div class="categories">
                <div class="navbar-expand-md">
                    <div class="collapse navbar-collapse" id="navbarTogglerCategories">
                        <ul class="list-inline">
                            @foreach (var item in categories.Categories)
                            {
                                <li class="list-inline-item">
                                    <div class="subcategories-item justify-content-lg-start">
                                        <a asp-area="Admin" asp-controller="Product" asp-action="Category" asp-route-categoryId="@item.Id"><i class="@item.IconPath"></i> @item.CategoryName</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="navbar-expand-md w-100">
                    <div class="" id="categories-show-btn">
                        <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerCategories" aria-controls="navbarTogglerCategories" aria-expanded="false" aria-label="Toggle navigation">
                            Categories <i class="fa-solid fa-caret-down"></i>
                        </a>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-inline-flex">  

    <div class="main-content ">
        <div class="navbar justify-content-between">
            <a asp-area="Admin" asp-controller="Product" asp-action="CreateProduct" class="addcategory" id="0">Create New</a>
            <partial name="_SortingBarPartial" model="@sortModel" />           
        </div>
        <div class="navbar justify-content-end">    
            <form class="form-inline" method="get" asp-area="Admin" asp-controller="@searchBar.Controler" asp-action="@searchBar.Action">
                <input class="form-control mr-sm-2" type="search" name="SearchText" value="@searchBar.SearchText" placeholder="Search..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success alert-msg">
                @TempData["success"]
            </div>
        }

        <div class="row  ml-1">
            @for (int i = 0; i < Model.Count; i++)
            {
                <partial name="_DisplayBooksPartial" model="@Model[i]" />
                if (i < Model.Count - 1)
                {
                    <div class="vl"></div>
                }
            }
        </div>

        <div class="row ml-1 justify-content-lg-between justify-content-center">
            <partial name="_PageBarPartial" model="@navigationService.PaginationModel" />
        </div>
    </div>
</div>

@section Scripts
{   
    <script src="~/scripts/categoryscript.js"></script>
}